.view {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  border: 1px solid white;
  padding: 12px;

  resize: both;
  overflow: auto;
}

.editor-container {
  max-height: 500px;
}