.btn.primary {
  background-color: rgb(50, 50, 50);
  color: white;

  white-space: nowrap;

  padding: 4px 8px;

  border-radius: 10px;
  border: 1px solid white;
}

.btn:hover {
  cursor: pointer;
}

.btn.primary:hover {
  background-color: rgb(100, 100, 100);
  box-shadow: 2px 2px 2px white;
}