.control-panel {
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  max-height: 0;
  max-width: 0;
  overflow: hidden;

  height: 100%;
}

.control-panel-toggle-btn {
  position: absolute;
  top: 0;
  right: 0;
}

.control-list {
  display: flex;
  flex-direction: column;

  padding: 0;
}

.control-list .btn {
  margin: 5px 0;
}