.control-panel {
  position: absolute;
  right: 48px;
  top: 16px;

  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.control-list {
  display: flex;
  flex-direction: column;

  padding: 0;
}

.control-list .btn {
  margin: 5px 0;
}