.file-list {
  display: flex;
  flex-direction: column;

  list-style: none;

  padding: 18px 6px;
  margin: 0;
  min-width: 350px;
  min-height: 400px;
  max-height: 750px;
  background-color: rgb(50, 50, 50);

  overflow: auto;
}

.file-row {
  display: flex;
  flex-direction: row;
  align-items: center;

  background-color: rgb(50, 50, 50);
  border: 1px solid rgba(255, 255, 255, 0.05);
  color: white;

  padding: 0 12px;
}

.file-row:hover {
  border-left: 6px solid rgba(255, 255, 255, 0.2);
}

.file-name {
  white-space: nowrap;
  width: 100%;
  padding: 5px;
}

.file-name.file:hover {
  cursor: pointer;
  background-color: rgb(75, 75, 75);
  color: white;
}

.file-name.folder:hover {
  cursor: pointer;
  background-color: rgb(150, 150, 150);
  color: black;
}

.file-row-controls {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;

  margin-left: 12px;
}

.file-manager-header, .file-manager-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  background-color: rgb(100, 100, 100);
  color: white;

  padding: 6px 12px;
}

.file-manager-breadcrumb {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.breadcrumb {
  padding: 0 8px;
}

.empty-file-list {
  text-align: center;
  height: 100%;
  background-color: darkgrey;
  padding: 12px;
}

.ftp-trash {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  background-color: rgba(255, 0, 0, 0.3);

  width: 64px;
  padding: 0 4px;

  border-radius: 10px;
}